@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

:root {
  --color-main: #FF852C;
  --color-main-dark: #F47F2B;
  --color-main-darker: #D96A19;
  --color-dark: #4B4242;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-white-1: #F1F1F1;
  --color-white-2: #EAEAEA;
  --color-grey-light: #BFBEBE;
  --color-grey: #7C7575;
  --color-error: #E44C4C;
  --color-success: #6BD05B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Commissioner', Arial, Helvetica, sans-serif;
}

button, a, input {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.error {
  font-size: 14px;
  color: var(--color-error);
}
